/* ************ Sidebar Start *********** */

/* Menu Item */
@utility menu-item {
  @apply flex items-center gap-3 px-3 py-2 rounded-lg font-medium text-[14px] transition-colors duration-200 cursor-pointer;
}

@utility menu-item-active {
  @apply bg-brand-50 text-brand-500 dark:bg-brand-500/10 dark:text-brand-400;
}

@utility menu-item-inactive {
  @apply text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-800;
}

/* Icon Size & Colors */
@utility menu-item-icon-size {
  @apply w-5 h-5;
}

@utility menu-item-icon-active {
  @apply text-brand-500;
}

@utility menu-item-icon-inactive {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
}

/* Submenu item */
@utility menu-dropdown-item {
  @apply flex items-center px-3 py-2 rounded-md text-[14px] transition;
}

@utility menu-dropdown-item-active {
  @apply text-brand-500 bg-brand-50 dark:bg-brand-500/10 dark:text-brand-400;
}

@utility menu-dropdown-item-inactive {
  @apply text-gray-600 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-800;
}

/* Badge */
@utility menu-dropdown-badge {
  @apply text-[10px] px-2 py-0.5 rounded-full capitalize;
}

@utility menu-dropdown-badge-active {
  @apply bg-brand-100 text-brand-600;
}

@utility menu-dropdown-badge-inactive {
  @apply bg-gray-200 text-gray-600;
}

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply size-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full dark:bg-gray-700;
  }
}

.dark .MuiDataGrid-scrollbar::-webkit-scrollbar-thumb,
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar {
  @apply size-1.5;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full dark:bg-gray-700;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full;
}

/* ************ Sidebar End *********** */

