/* ************ Sidebar Start *********** */

@utility menu-item {
  @apply relative flex items-center w-full gap-3 px-3 py-2 font-medium rounded-lg text-theme-sm;
}
@utility menu-item-text {
  @apply capitalize;
}

@utility menu-item-active {
  @apply bg-brand-50 text-brand-500 dark:bg-brand-500/12 dark:text-brand-400;
}

@utility menu-item-inactive {
  @apply text-gray-700 hover:bg-gray-100 group-hover:text-gray-700 dark:text-gray-300 dark:hover:bg-white/5 dark:hover:text-gray-300;
}

@utility menu-item-icon {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400;
}

@utility menu-item-icon-active {
  @apply text-brand-500 dark:text-brand-400;
}

@utility menu-item-icon-size {
  & svg {
    @apply size-6!;
  }
}

@utility menu-item-icon-inactive {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
}

@utility menu-item-arrow {
  @apply relative;
}

@utility menu-item-arrow-active {
  @apply rotate-180 text-brand-500 dark:text-brand-400;
}

@utility menu-item-arrow-inactive {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-gray-300;
}

@utility menu-dropdown-item {
  @apply relative flex items-center gap-3 rounded-lg px-3 py-2.5 text-theme-sm font-medium capitalize;
}

@utility menu-dropdown-item-active {
  @apply bg-brand-50 text-brand-500 dark:bg-brand-500/12 dark:text-brand-400;
}

@utility menu-dropdown-item-inactive {
  @apply text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-white/5;
}

@utility menu-dropdown-badge {
  @apply block rounded-full px-2.5 py-0.5 text-xs font-medium uppercase text-brand-500 dark:text-brand-400;
}

@utility menu-dropdown-badge-active {
  @apply bg-brand-100 dark:bg-brand-500/20;
}

@utility menu-dropdown-badge-inactive {
  @apply bg-brand-50 group-hover:bg-brand-100 dark:bg-brand-500/15 dark:group-hover:bg-brand-500/20;
}

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply size-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full dark:bg-gray-700;
  }
}

.dark .MuiDataGrid-scrollbar::-webkit-scrollbar-thumb,
.dark .MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar-thumb,
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar,
.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar {
  @apply size-1.5;
}

.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar-thumb,
.MuiDataGrid-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full dark:bg-gray-700;
}

.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper::-webkit-scrollbar-track,
.MuiDataGrid-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full;
}

.MuiTelInput-Menu .MuiPaper-root.MuiPopover-paper {
  max-height: calc(100% - 600px);
}

@utility head-icon {
  @apply flex items-center justify-center h-11 w-11 max-xsm:h-9 max-xsm:w-9 text-gray-500 transition-colors bg-white border border-gray-200 rounded-full hover:bg-gray-100 hover:text-gray-700 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white;
}

/* ************ Sidebar End *********** */

.boxes {
  --size: 32px;
  --duration: 800ms;

  /* theme colors */
  --box-main: var(--color-brand-500);
  --box-dark: var(--color-brand-700);
  --box-mid: var(--color-brand-600);
  --box-light: var(--color-gray-200);

  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg);
}

.boxes .box {
  width: var(--size);
  height: var(--size);
  position: absolute;
  transform-style: preserve-3d;
}

/* positions + animations */
.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  animation: box4 var(--duration) linear infinite;
}

/* cube faces */
.boxes .box > div {
  --translateZ: calc(var(--size) / 2);
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--box-main);
  transform: rotateY(var(--rotateY, 0deg)) rotateX(var(--rotateX, 0deg)) translateZ(var(--translateZ));
}

/* front */
.boxes .box > div:nth-child(1) {
  top: 0;
  left: 0;
}

/* right */
.boxes .box > div:nth-child(2) {
  background: var(--box-dark);
  right: 0;
  --rotateY: 90deg;
}

/* top */
.boxes .box > div:nth-child(3) {
  background: var(--box-mid);
  --rotateX: -90deg;
}

/* back / shadow */
.boxes .box > div:nth-child(4) {
  background: var(--box-light);
  top: 0;
  left: 0;
  --translateZ: calc(var(--size) * -3);
}

/* animations */
@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
.dark .boxes {
  --box-main: var(--color-brand-400);
  --box-dark: var(--color-brand-800);
  --box-mid: var(--color-brand-600);
  --box-light: var(--color-gray-700);
}
