/* ************ Date Range Calendar Start *********** */

.MuiDateRangeCalendar-root > div:first-child {
  display: none !important;
}

.MuiDivider-root.MuiDivider-fullWidth {
  @apply m-0!;
}

.dark .MuiPopper-root > div {
  @apply dark:bg-gray-800!;
}
.dark .MuiPopover-root.MuiModal-root .MuiPaper-root {
  @apply dark:bg-gray-800!;
  --Paper-overlay: none !important;
}

/* ************ Date Range Calendar End *********** */

/* ************ Table Start *********** */

.MuiDataGrid-toolbar,
.MuiDataGrid-filler,
.MuiDataGrid-scrollbarFiller,
.MuiDataGrid-columnHeader {
  @apply bg-gray-50! dark:bg-gray-900! dark:border-gray-700!;
}
.MuiDataGrid-toolbar {
  @apply min-h-auto!;
}

.MuiDataGrid-cell {
  outline: none !important;
}

.dark .MuiDataGrid-withBorderColor,
.dark .MuiDataGrid-cell {
  @apply dark:border-gray-700!;
}

.dark .MuiDataGrid-row:hover {
  @apply dark:bg-gray-800!;
}

.dark .MuiDataGrid-root {
  @apply dark:bg-gray-dark! dark:border-gray-700!;
  --Paper-overlay: none !important;
}

.dark .MuiDataGrid-columnHeader .MuiDataGrid-sortButton {
  @apply dark:bg-gray-700!;
}

.dark .MuiPopper-root.MuiDataGrid-menu .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1,
.dark .MuiPopper-root.MuiDataGrid-panel .MuiDataGrid-paper {
  @apply dark:bg-gray-800!;
  --Paper-overlay: none !important;
}

.dark .MuiDataGrid-columnsManagementRow .MuiFormControlLabel-label.Mui-disabled {
  @apply dark:text-gray-400!;
}

.dark .MuiFormControlLabel-label {
  @apply dark:text-gray-300!;
}

.MuiDataGrid-cell.MuiDataGrid-cell--textLeft{
  @apply items-center! flex!;
}

.MuiDataGrid-main .css-980l56{
  @apply hidden;
}

/* ************ Table End *********** */

/* ************ Input Start *********** */
.MuiFormControlLabel-asterisk,
.MuiFormLabel-asterisk {
  @apply text-red-600!;
}

.MuiButtonBase-root.MuiButton-root {
  @apply rounded-md!;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.ql-container {
  @apply h-[100px]! custom-scrollbar! border border-gray-200 dark:border-gray-600!;
}

.ql-editor {
  @apply h-full! custom-scrollbar!;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  @apply border border-gray-300 dark:border-gray-600! rounded-sm;
}

.ql-snow .ql-picker {
  @apply text-gray-800 dark:text-gray-400!;
}

.ql-snow .ql-stroke {
  @apply stroke-gray-800 dark:stroke-gray-400!;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  @apply fill-gray-800 dark:fill-gray-400!;
}

.Mui-error .MuiOutlinedInput-notchedOutline,
.is-invalid .ql-toolbar.ql-snow,
.is-invalid .ql-container.ql-snow {
  @apply border-red-500!;
}

/* ************ Input End *********** */

.advanced-search.MuiPaper-elevation {
  @apply bg-white! dark:bg-gray-900! shadow-theme-sm;
}
.advanced-search .MuiAccordion-heading {
  @apply text-gray-700 dark:text-gray-300;
}

.currency-btn {
  @apply rounded-s-sm! rounded-e-none! w-9! h-10! bg-brand-600! text-white! text-xl! hover:bg-brand-600!;
}

.currency-btn.Mui-disabled{
  @apply bg-gray-200! text-gray-400! dark:bg-gray-700! dark:text-gray-400!;
}

.status-pending{
  @apply text-white capitalize text-center w-full bg-amber-500 dark:bg-amber-600 h-6 leading-6 rounded-sm;
}

.status-approved{
  @apply text-white capitalize text-center w-full bg-green-500 dark:bg-green-600 h-6 leading-6 rounded-sm;
}

.status-rejected{
  @apply text-white capitalize text-center w-full bg-red-500 dark:bg-red-600 h-6 leading-6 rounded-sm;
}

.status-open {
  @apply text-white capitalize text-center w-full bg-cyan-400  dark:bg-cyan-500  h-6 leading-6 rounded-sm;
}

.status-closed {
  @apply text-white capitalize text-center w-full bg-red-500 dark:bg-red-600 h-6 leading-6 rounded-sm;
}

.status-available {
  @apply text-white capitalize text-center w-full bg-green-500 dark:bg-green-600 h-6 leading-6 rounded-sm;
}


.status-used {
  @apply text-white capitalize text-center w-full bg-red-500 dark:bg-red-600 h-6 leading-6 rounded-sm;
}

.iconButtonStyle{
  @apply w-11 h-8.5 rounded-md! border! border-gray-200! dark:border-gray-600!;
}